<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">



  <link rel="stylesheet" type="text/css" href="/css/Aboutus.css">
</head>
<body>
<nav >
  <div th:replace="fragment/nav-header :: nav-bar"></div>

</nav>
<div class="about-section" style="margin-top: 200px !important;">
  <h1>About Us</h1>
  <h3 id="text"></h3>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const textElement = document.getElementById('text');
        const textToWrite = "Have you ever had trouble finding good recipes online? ";
        textElement.style.fontFamily = "'Electrolize', sans-serif";
        textElement.style.fontSize = '20px';
        let index = 0;
        function writeText() {
            if (index < textToWrite.length) {
                textElement.innerHTML += textToWrite.charAt(index);
                index++;
                setTimeout(writeText, 50);
            }
        }
        writeText();
    });
</script>


<h3>Welcome to Ricepify, where we're on a mission to make cooking an enjoyable and hassle-free experience for all. Think of us as your cheerful kitchen companion, helping you discover, save, and exchange delightful recipes. Let's embark on a culinary adventure together, uncovering new flavors and connecting with fellow food enthusiasts!</h3>
</div>

        <h1 style="text-align:center" class="title-main">Our Team</h1>
        <div class="row">
       
        
          <div class="column">
            <div class="card">
              <img src="/images/zaid.jpg" style="width:100%">
              <div class="container">
                <h2 style="text-align:center" class="ourName" >Zaid Ali</h2>
                <p class="title">Mechanical Site Engineer</p>
                <p>Full-Stack Web Developer</p>
                <span class="icony">
                <a href="http://www.linkedin.com/in/zaid-izziddine-b636a0178" target="_blank" class="linkedin-button">
                  <img src="/images/linkedin.png" alt="LinkedIn Icon" class="linkedin-icon">
                  </a>

                  <a href="https://github.com/Zaidizz96" target="_blank" class="linkedin-button">
                  <img src="/images/code.png" alt="LinkedIn Icon" class="linkedin-icon">
                </a>
                  <br><br>
              </span>

              </div>
            </div>
          </div>


          <div class="column">
            <div class="card">
              <img src="/images/naser.jpg"  style="width:100%">
              <div class="container">
                <h2 style="text-align:center" class="ourName">Naser Gharbieh</h2>
                <p class="title">Computer Information System.</p>
                <p>Full-Stack Web Developer</p>
                <span class="icony">
                <a href="https://www.linkedin.com/in/nasergharbieh/" target="_blank" class="linkedin-button">
                  <img src="/images/linkedin.png" alt="LinkedIn Icon" class="linkedin-icon">
                  </a>

                  <a href="https://github.com/NaserGharbieh" target="_blank" class="linkedin-button">
                  <img src="/images/code.png" alt="LinkedIn Icon" class="linkedin-icon">
                </a>
                  <br><br>
              </span>


              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="/images/farah.jpg" style="width:100%; height:280px;">
              <div class="container">
                <h2 style="text-align:center" class="ourName">Farah Elaydi</h2>
                <p class="title">Computer Science</p>
                <p>Full-Stack Developer</p>
                <span class="icony">
                <a href="https://www.linkedin.com/in/farah-elaydi-948510232/" target="_blank" class="linkedin-button">
                  <img src="/images/linkedin.png" alt="LinkedIn Icon" class="linkedin-icon">
                </a>

                <a href="https://github.com/farahaydi" target="_blank" class="linkedin-button">
                  <img src="/images/code.png" alt="LinkedIn Icon" class="linkedin-icon">
                </a>
                  <br><br>
              </span>

              </div>
            </div>
          </div>



          <div class="column">
            <div class="card">
              <img src="/images/ahmad.jpg"  style="width:100%">
              <div class="container">
                <h2 style="text-align:center" class="ourName">Ahmad Anshasi</h2>
                <p class="title">multimedia designer</p>
                <p>Full-Stack</p>

                <span class="icony">
                <a href="https://www.linkedin.com/in/ahmadanshasi/" target="_blank" class="linkedin-button">
                  <img src="/images/linkedin.png" alt="LinkedIn Icon" class="linkedin-icon">
                </a>

                <a href="https://github.com/anshasiq" target="_blank" class="linkedin-button">
                  <img src="/images/code.png" alt="LinkedIn Icon" class="linkedin-icon">
                </a>
                  <br><br>
              </span>
              </div>
            </div>
          </div>
          
          <div class="column">
            <div class="card">
              <img src="/images/moh.png"  style="width:100%">
              <div class="container">
                <h3 style="text-align:center" class="ourName">Mohammad Mustafa</h3>
                <p class="title">Mechatronics Engineer</p>
                <p>Full-Stack Web Developer</p>
                <span class="icony">
                <a href="https://www.linkedin.com/in/mohammad-mustafa1/" target="_blank" class="linkedin-button">
                  <img src="/images/linkedin.png" alt="LinkedIn Icon" class="linkedin-icon">
                </a>

                <a href="https://github.com/mohammadmu1" target="_blank" class="linkedin-button">
                  <img src="/images/code.png" alt="LinkedIn Icon" class="linkedin-icon">
                </a>
                  <br><br>
              </span>
              </div>
            </div>
          </div>
        </div>
<div th:replace="fragment/footer :: footer"></div>

<!--        <script src="aboutus/script.js"></script>-->
<!--        <script src="templ6ates/aboutus/aboutus.js"></script>-->
</body>
</html>