<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css"  href="/css/footer.css">


</head>
<body>
    <footer class="footer" th:fragment="footer">
        <div class="contact">
            <h3>Contact Information</h3>
            <p>Email: <a href="www.recipes660@gmail.com">recipes660@gmail.com</a></p>
            <p>Phone: (123) 456-7890</p>
        </div>
        <div class="social">
            <h2>Follow Us</h2>
            <a href="https://github.com/Ricepify" class="social-link">Github</a>
            <a href="https://github.com/Ricepify/Ricepify-Project" class="social-link">Back End</a>
            <a href="https://github.com/Ricepify/Ricepify-Front-End" class="social-link">Front End</a>
        </div>
        <div class="social">
            <h2>Our Team</h2>
            <a href="/aboutus" class="social-link">Ahmad Anshasi</a>
            <a href="/aboutus" class="social-link">Zaid Ali</a>
            <a href="/aboutus" class="social-link">Naser Gharbieh</a>
            <a href="/aboutus" class="social-link">Farah Elaydi</a>
            <a href="/aboutus" class="social-link">Mohammed Mustafa</a>
        </div>
        <div class="social">
            <h2>All links</h2>
            <a href="/" class="social-link">Home page</a>
            <a href="/sub" class="social-link">Subscripe</a>
            <a href="/favorite" class="social-link">favourite</a>
            <a href="/aboutus" class="social-link">about us</a>
            <!-- <a href="#" class="social-link">0</a> -->
        </div>
    
    <div class="copyright">
        <p>&copy; 2023 Ricepify</p>
    </div>
    </footer>
</body>
</html>