<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<nav th:fragment="nav-bar">
  <div class="image-container">
    <img src="/images/resyLogo.png" alt="Your Image Description">
  </div>
  <ul>
      <li><a th:href="@{/perform_logout}">Log Out</a></li>
      <li><a th:href="@{/myProfile}">Profile</a></li>
      <li><a th:href="@{/findUsers}">Explore Users</a></li>
      <li><a th:href="@{/sub}">Subscribe</a></li>
      <li><a th:href="@{/aboutus}">AboutUs</a></li>
      <li><a th:href="@{/favorite}">Favorite</a></li>
      <li><a th:href="@{/}">Home</a></li>



  </ul>
</nav>
</body>
</html>