nav {
      width: 100%;
      background-color: #faf7f7;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      top: 0;
      z-index: 1000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Added box-shadow */
    }

    nav .logo-container img {
      max-height: 100%;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-family: 'Fugaz One', cursive;

    }

    nav li {
      float: right;
    }

    nav a {
      display: inline;
      color: #333;
      padding: 10px 16px;
      text-decoration: none;
    }

    nav a:hover {
      background-color: #ddd;
      color: black;
    }

    .image-container {
      width: 250px;
      height: 50px;
      overflow: visible;
    }

    .image-container img {
      width: 300px;
      height: 130px;
      position: absolute;
      top: 0;
      left: 0;
    }

    body {
      margin-top: 70px;
      margin-bottom: 50px;
      font-family: 'Fugaz One', cursive;

    }