<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 - Internal Server Error</title>
  <link rel="stylesheet" href="/css/error-404.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap">
</head>
<body>
<nav>
  <div th:replace="fragment/nav-header :: nav-bar"></div>
</nav>
<div class="container" style="margin-top:200px;">
  <div class="content">
    <h1>500</h1>
    <p>Internal Server Error</p>
    <p>ops! Something went wrong on our end. We're working to fix it.</p>
    <a href="/" class="custom-link"><span class="arrow-icon">Go back to the home page</span></a>

  </div>
  <div class="image-container">
    <img src="/images/giphy.gif" alt="Your Image Description">
  </div>
</div>
<div th:replace="fragment/footer :: footer"></div>

</body>
</html>
