<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/cards-style.css">


    <title>Meal Directory</title>
</head>

<body>
<nav>
    <div th:replace="fragment/nav-header :: nav-bar"></div>
</nav>
<br>
<br>

<div class="container" style="margin-top:50px;">
    <hr>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <!-- Display internal meals -->
        <div th:if="${not #lists.isEmpty(internalMeals)}" th:each="tempMeal, mealIndex : ${internalMeals}" class="col mb-4">
            <div class="card">
                <img th:src="${tempMeal.image}" class="card-img-top" alt="Meal Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${tempMeal.mealName}"></h5>
                    <p class="card-text">
                        <strong>Category:</strong> <span th:text="${tempMeal.category}"></span><br>
                        <strong>Area:</strong> <span th:text="${tempMeal.area}"></span><br>
                        <strong>Source:</strong> Internal (From Users)<br>
                    </p>
                </div>
                <div class="card-footer">
                    <a th:href="${tempMeal.video}" class="btn btn-primary btn-block mb-2" target="_blank"><i class="bi bi-play-circle-fill"></i>Watch Video</a>
                    <a th:href="${'/favIntMealDetail?id=' + tempMeal.id}" class="btn btn-primary btn-block mb-2" target="_blank"><i class="bi bi-three-dots-vertical"></i>Details</a>
                    <!-- Delete button for removing from favorites -->
                    <form th:action="@{/removeIntFavorite}" method="post">
                        <input type="hidden" name="mealId" th:value="${tempMeal.id}" />
                        <button type="submit" class="btn btn-danger btn-block"><i class="bi bi-trash3-fill"></i>Remove from Favorites</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Display external meals -->
        <div th:if="${not #lists.isEmpty(externalMeals)}" th:each="tempMeal, mealIndex : ${externalMeals}" class="col mb-4">
            <div class="card">
                <img th:src="${tempMeal.image}" class="card-img-top" alt="Meal Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${tempMeal.mealName}"></h5>
                    <p class="card-text">
                        <strong>Category:</strong> <span th:text="${tempMeal.category}"></span><br>
                        <strong>Area:</strong> <span th:text="${tempMeal.area}"></span><br>
                        <strong>Source:</strong> External (From API)<br>
                    </p>
                </div>
                <div class="card-footer">
                    <a th:href="${tempMeal.video}" class="btn btn-primary btn-block mb-2" target="_blank"><i class="bi bi-play-circle-fill"></i>Watch Video</a>
                    <a th:href="${'/favExMealDetail?id=' + tempMeal.id}" class="btn btn-primary btn-block mb-2" target="_blank"><i class="bi bi-three-dots-vertical"></i>Details</a>
                    <!-- Delete button for removing from favorites -->
                    <form th:action="@{/removeExFavorite}" method="post">
                        <input type="hidden" name="mealId" th:value="${tempMeal.id}" />
                        <button type="submit" class="btn btn-danger btn-block"><i class="bi bi-trash3-fill"></i>Remove from Favorites</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-o7HJ7FLU5Lh5n5Pc6u6uIwnzxFrjh4x4h" crossorigin="anonymous"></script>
<div th:replace="fragment/footer :: footer"></div>

</body>
</html>