<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Users</title>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/findUser.css">

</head>
<body>
<nav>
    <div th:replace="fragment/nav-header :: nav-bar"></div>
</nav>
<div class="search-form">
    <form action="/search" method="get">
        <input type="text" name="query" class="search-input" placeholder="Search for users...">
        <button type="submit" class="search-btn">Search</button>
    </form>
</div>
<div class="container">
    <div th:each="user : ${users}" class="user-card">
        <a th:href="@{/userinfo/{userId}(userId=${user.id})}">
            <img th:src="${user.image}" alt="User Image">
        </a>
        <a th:href="@{/userinfo/{userId}(userId=${user.id})}">
            <div class="user-info" th:text="${user.firstName + ' ' + user.lastName}"></div>
        </a>
    </div>
</div>


<section>
    <h2>Your Feed</h2>
    <div class="feed-cards">
        <li class="feed-item" th:each="recipe : ${feedPosts}">
            <div class="feed-card">
                <div class="post-header">
                    <a th:href="@{'/userinfo/' + ${recipe.siteUserEntity.id}}">
                        <img th:src="${recipe.siteUserEntity.image}" alt="User Image" class="user-image">
                    </a>
                    <a class="view-profile-link" th:href="@{'/userinfo/' + ${recipe.siteUserEntity.id}}">
                        <p> <span th:text="${recipe.siteUserEntity.username}">Username</span></p>
                    </a>
                </div>
                <div class="post-content">
                    <img th:src="${recipe.recipeImage}" alt="not here">
                    <h3 th:text="${recipe.recipeTitle}">Placeholder Title</h3>
                    <p th:text="${#strings.length(recipe.recipeDescription) > 255 ? #strings.substring(recipe.recipeDescription, 0, 255) + '...' : recipe.recipeDescription}">Placeholder Description</p>
                </div>
            </div>
        </li>
    </div>
</section>
</body>
</html>