<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <style>
    .card {
      height: 450px; /* Adjust the height as needed */
    }

    .card-img-top {
      height: 200px; /* Adjust the image height as needed */
      object-fit: cover; /* Ensure the image covers the entire space */
    }

    /* Smaller card footer */
    .card-footer {
      padding: 5px; /* Adjust the padding as needed */
    }
  </style>

  <title>Meal Directory</title>
</head>

<body>
<div th:replace="fragment/nav-header :: nav-bar"></div>

<div class="container">
  <h3 class="mt-4">Ricepify Home</h3>
  <hr>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <div th:each="tempMeal, mealIndex : ${meals}" class="col mb-4">
      <div class="card">
        <img th:src="${tempMeal.image}" class="card-img-top" alt="Meal Image">
        <div class="card-body">
          <h5 class="card-title" th:text="${tempMeal.mealName}"></h5>
          <p class="card-text">
            <strong>Category:</strong> <span th:text="${tempMeal.category}"></span><br>
            <strong>Area:</strong> <span th:text="${tempMeal.area}"></span><br>
          </p>
        </div>
        <div class="card-footer">
          <a th:href="${tempMeal.video}" class="btn btn-primary btn-block mb-2" target="_blank">Watch Video</a>

          <a th:href="${'/mealDetail?id=' + tempMeal.id}" class="btn btn-primary btn-block mb-2" target="_blank">


            Details
          </a>

          <!-- Add to Favorites button  -->
          <form action="/addToFavoritesExternal" method="POST">
            <input type="hidden" name="id" th:value="${tempMeal.id}">
            <button type="submit" class="btn btn-success btn-block">Add to Favorites</button>
          </form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-o7HJ7FLU5Lh5n5Pc6u6uIwnzxFrjh4x4h" crossorigin="anonymous"></script>

</body>
</html>
