<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">


</head>

<body>
<form action="/perform_login" method="POST">
    <h1>Login</h1>

    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">


    <input type="submit" value="Log in">
    <p>don't have a Ricepify account? <a href="/signup">signup</a></p>

</form>
</body>
</html>
