<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Login and Registration Form in HTML | CodingNepal</title>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/new-recipe.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">

</head>
<body>
<nav>
  <div th:replace="fragment/nav-header :: nav-bar"></div>
</nav>
<div class="wrapper">
  <div class="title-text">
    <div class="title signup">
      Add New Recipe
    </div>
  </div>
  <div class="form-container">
    <div class="form-inner">
      <form action="#" th:action="@{/save_recipe}"  method="post">
        <fieldset>
          <legend>Add Your Recipe</legend>
          <label>Title</label>
          <input type="text" name="recipeTitle" required />
          </br>
          <label>Recipe Image</label>
          <input type="text" name="recipeImage" required />
          </br>
          <label>Description</label>
          <input type="text" name="recipeDescription" required />
          </br>
          <label>Category</label>
          <input type="text" name="recipeCategory" required />
          </br>
          <label>Area</label>
          <input type="text" name="recipeArea" required />
          </br>
          <label>YouTube Link</label>
          <input type="text" name="recipeVideo" required />
          </br>
          <label>Title</label>
          <input type="text" name="recipeMode" required />
          </br>
          <label>Title</label>
          <input type="submit" value="add recipeEntity">
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div th:replace="fragment/footer :: footer"></div>

</body>
</html>