<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>

    </style>
</head>
<body>
<header>
    <h1>User Profile</h1>
</header>
<main>
    <section id="user-info">
        <ul>
            <li>
                <strong>Username:</strong> <span th:text="${user.username}"></span>
            </li>
            <li>
                <strong>First Name:</strong> <span th:text="${user.firstName}"></span>
            </li>
            <li>
                <strong>Last Name:</strong> <span th:text="${user.lastName}"></span>
            </li>
            <li>
                <strong>Email:</strong> <span th:text="${user.email}"></span>
            </li>
            <li>
                <strong>Image:</strong> <img th:src="${user.image}" alt="user Image"  width="100" height="100" /></li>
            </span>
            </li>
            <li>
                <strong>Bio:</strong> <span th:text="${user.bio}"></span>
            </li>
        </ul>

        <h2>Users to Follow</h2>
        <form th:unless="${isCurrentUser}" method="post" th:action="@{'/follow/' + ${id}}">
            <input type="submit" value="Follow" th:if="${not isFollowed}">
            <input type="submit" value="Unfollow" th:if="${isFollowed}">
        </form>

    </section>
</main>
</body>
</html>
