<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/otherProfileinfo.css">

</head>

<body>
<header>
    <nav>
        <div th:replace="fragment/nav-header :: nav-bar"></div>

    </nav>
</header>
<main>
    <section class="user-card" style="margin-top:170px;">
        <div class="user-info-container">
            <div class="user-info-image">
                <img th:src="${user.image}" alt="user Image" />
            </div>
                            <ul class="user-info-list">
                                <li class="user-info-list-item">
                                    <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>
                                </li>
                                <li class="user-info-list-item">
                                    <span th:text="${user.username}"></span>
                                </li>
                                <li class="user-info-list-item">
                                    <span th:text="${user.bio}"></span>
                                </li>

                                <div class="followers">
                                    <div><span th:text="${user.followersCount}"></span>    <span th:text="${user.followingCount}"></span></div>
                                    <div><strong>Followers</strong>   <strong>Following </strong></div>
                                </div>

                                <form th:unless="${isCurrentUser}" method="post" th:action="@{'/follow/' + ${id}}" class="follow-form">
                                    <input type="submit" value="Follow" th:if="${not isFollowed}">
                                    <input type="submit" value="Unfollow" th:if="${isFollowed}">
                                </form>

            </ul>
        </div>
    </section>
    <section class="recipes">
        <div th:each="recipe : ${recipes}" class="recipe-card">
            <img class="recipe-card-image" th:src="${recipe.recipeImage}" alt="Recipe Image">
            <h3 th:text="${recipe.recipeTitle}"></h3>
        </div>
    </section>
</main>
</body>
</html>
